<footer class='text-white bg-charcoal'>
	<div
		class='flex max-[900px]:flex-col gap-16 max-[900px]:gap-8 py-12 min-max'
	>
		<div>
			<p class='max-w-64'>
				KTC Consulting delivers expert Program Management, Consulting,
				Engineering, and Scientific Services.
			</p>
		</div>

		<div
			class='flex max-[600px]:grid max-[600px]:grid-cols-2 max-[400px]:grid-cols-1 gap-8'
		>
			<div class='w-40'>
				<h2 class='font-semibold mb-3'>Company</h2>

				<ul class='flex flex-col gap-2'>
					<li>About KTC</li>

					<li>Services</li>

					<li>Careers</li>

					<li>Contact</li>
				</ul>
			</div>

			<div class='w-40'>
				<h2 class='font-semibold mb-3'>Social</h2>

				<ul class='flex flex-col gap-2'>
					<li>Linkedin</li>

					<li>Facebook</li>

					<li>X (formerly twitter)</li>

					<li>Instagram</li>
				</ul>
			</div>

			<div class='w-40'>
				<h2 class='font-semibold mb-3'>Legal</h2>

				<ul class='flex flex-col gap-2'>
					<li>Terms and Conditions</li>

					<li>Privacy Policy</li>

					<li>Cookies</li>

					<li>Licenses</li>
				</ul>
			</div>
		</div>
	</div>

	<hr class='border-[#222222]' />

	<div class='py-5 min-max'>
		<p>Copyright © 2024 KT Consulting, Inc.</p>
	</div>
</footer>
